@import url("https://db.onlinewebfonts.com/c/0d5f8cc3c1312e1f7c94b4ccf48733c0?family=NetflixSans-Icon");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "NetflixSans-Icon", sans-serif;
    background: #232323;
    color: #fff;
    height: 100vh;
    max-width: 100%;
    letter-spacing: -0.6px;
    word-spacing: -4.8px;
    font-size: 102%;
  }
}
